/* mainCSSFile */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #9d12b5; */
  /* background-color: white; */
  background-image: linear-gradient(
    to right,
    #ec1ae6,
    #c82bea,
    #a036eb,
    #713eea,
    #2642e6
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5px;
}

.container {
  background-color: white;

  width: 100vmin;
  padding: 30px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 2 25px 50px rgba(7, 20, 35, 0.2);
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  justify-content: center;
  padding-bottom: 5px;
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: white;
  outline: none;
  color: black;
}

select {
  padding: 7px;
  border: 1px solid black;
  border-radius: 3px;
}

.options label,
.options select {
  font-family: 'Montserrat', sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

#text-input {
  margin-top: 10px;
  border: 1px solid lightgray;
  padding: 20px;
  height: 50vh;
}

.active {
  background-color: lightgray;
}

.text-area {
  overflow: scroll;
  background-color: white;
}

.footer {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 952px) {
  .container {
    width: 80vmin;
    padding: 30px 30px;
  }

  .options {
    gap: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90vmin;
    padding: 30px 30px;
  }

  .options {
    gap: 15px;
    padding: 3px 3px;
  }
}
